[Unit]
Description=Sensirion SPS30 particulate matter sensor
After=pigpiod.service
Requires=pigpiod.service


[Service]
User=root
Restart=always
ExecStart=/usr/local/bin/sps30-service.py

[Install]
WantedBy=multi-user.target
